/** @author Raghavan Sreenivasa
 *  version 1.0
 *  CSS file for header
 */
@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

.header {
	font-family: asap, sans-serif;
  	background-color: #412b3e;
  	text-align: left;
  	padding: 10px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
}

.header-logo, .header-logout {
	display: inline-block;
}

.header-logout {
	display: flex;
	margin-right: 30px;
	align-items: center;
}
.header-logout.show {
	display: flex;
}

.header-logout .header-name {
	color: white;
	font-size: 18px;
	display: inline-block;
}

.header-logout a {
	margin-left: 25px;
    padding: 10px;
    border: 2px solid;
    border-radius: 15%;
    color: white;
	font-size: 15px;
	display: inline-block;
	box-sizing: border-box;
}

.logo{
	height:60px;
	width:auto;
	border: 3px solid white;
	border-radius:50%;
	padding: 3px;
	display: inline
}
.header .title{
	color:white;
	font-family: asap, sans-serif;
	font-weigth: 500;
	font-size: 32px;
	display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    vertical-align: text-bottom;
}
.header a {
	text-decoration: none;
}