/** @author Swarnalatha Srenigarajan
 *  version 1.0
 *  CSS file for quizQuestions page
 */
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');
form {
    margin: 30px 30px 0 30px;
    margin-top: 30px;
    font-family: asap, sans-serif;
    box-sizing: border-box;
}

input {
	box-sizing: border-box;
	padding: 10px;
	margin: 10px 0;
}

.questionNumberLabel {
	display: block;
	float: left;
	width: 100%;
}

.questionNumber {
	float: left;
	display: block;
	width: 11%;
}

.questionLabel {
	display: block;
    width: 100%;
    float: left;	
}

.question {
	display: block;
	width: 96%;
	float: left;
}

.optionContainer {
	display: block;
	width: 47%;
	float: left;
	margin-right: 30px;
}

.optionLabel, .options {
	display: block;
	width: 100%;
	float: left;
}

.correctAnsLabel {
	display: block;
    width: 100%;
    float: left;	
}

.correctAns {
	display: block;
	width: 96%;
	float: left;
}

.button {
	display: block;
	float: left;
	border: none;
	background: #008CBA;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: asap, sans-serif;
    margin-top: 20px;
}

#continueButton {
	margin-right: 20px;
}