@CHARSET "ISO-8859-1";
/** @author Raghava, Rahul Suresh
 *  version 1.0
 *  CSS file for student list page
 */
table, td, th {
  border: 1px solid black;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;
  margin-top: 20px;
  color: #333;
  font-family: asap, sans-serif;
}

.backbutton img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top:20px;
	cursor: pointer;
}

th,td {
  border: 1px solid transparent;
  height: 40px; 
  transition: all 0.3s;
}

th {
	background: #666;
	color: #FFF;
}

td {
	background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }   
       
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #DFDFDF;}  