/** @author Raghavan Sreenivasa
 *  version 1.0
 *  CSS for student view practice page
 */
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

body {
    display: block;
}

.student-practice-body {
	height: 88vh;
}

.button-panel {
    height: 95%;
    width: 40%;
    display: block;
    float: left;
    box-sizing: border-box;
}

.backbutton img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top:20px;
	cursor: pointer;
}

.sandbox-result {
    display: block;
    width: 60%;
    height: 90%;
    float: right;
    box-sizing: border-box;
    position: relative;
}

.sandbox-result .sandbox {
    height: 70%;
    width: 100%;
    border-bottom: 3px solid gray;
    box-sizing: border-box;
}

.sandbox-result .sandbox .sandbox-heading {
	text-transform: uppercase;
	font-size: 20px;
	font-family: asap, sans-serif;
	text-align: center;
}

.sandbox-result .result {
    width: 100%;
    position: relative;
    top: 0;
}

.result_content{
	position: relative;
	border: 3px solid #595959;
	border-radius: 4px;
	padding: 14px;
	height: 50px;
	width: 300px;
	box-sizing: border-box;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
	top: 20px;
}

.result_heading{
	text-transform: uppercase;
	font-size: 20px;
	font-family: asap, sans-serif;
	text-align: center;
	position: relative;
	margin-top: 20px;
}

.sandbox-result .sandbox .dragButtons {
    height: 70%;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px 50px;
    padding: 50px;
}

.button-panel {
	position: relative;
	border-right: 3px solid gray;
}
.container {
	width: 100% !important;
	display: flex;
    flex-direction: column;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    margin: 0;
    align-items: center;
}
.btn {
	margin: 0 10px;
}
.button-row {
	margin: 10px 0;
	display: flex;
}

.section {
	  margin-bottom: 25px;
}

.center {
	margin: auto;
}

.button_heading{
	text-transform: uppercase;
	font-size: 20px;
	font-family: asap, sans-serif;
	text-align: center;
}

.clearButton {
	margin-left: 50px !important;
}

.btn-lg {
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.3333333 !important;
    border-radius: 6px !important;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    text-decoration: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 10px;
}

