/** @author Raghavan Sreenivasa
 *  version 1.0
 *  CSS file for teacher landing page
 */
@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

.header {
  background-color: #412b3e;
  text-align: left;
  padding: 10px;
}

.logo{
	height:60px;
	width:auto;
	border: 3px solid white;
	border-radius:50%;
	padding: 3px;
	display: inline
}

.header > h1{
	color:white;
	font-family: asap, sans-serif;
	display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
}

.teacher-landing-container {
	display: flex;
	align-items: center;
    justify-content: center;
    height: 400px;
    position: relative;
}

.teacher-landing-container section {
	margin: auto 20px;
	width: 30%;
	text-align: center;
	box-sizing: border-box;
}

.teacher-landing-container section h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: asap, sans-serif;
}

.teacher-landing-container section img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	cursor: pointer;
}