.metadata/
Proquation/.settings/org.eclipse.m2e.core.prefs
Proquation/.settings/org.eclipse.jdt.core.prefs
Proquation/.settings/org.eclipse.wst.common.project.facet.core.xml
Proquation/.settings/org.eclipse.wst.common.component
Proquation/.gitignore
Proquation/.settings/org.eclipse.wst.jsdt.ui.superType.name
Proquation/.settings/org.eclipse.wst.jsdt.ui.superType.container
Proquation/.settings/.jsdtscope
Proquation/.project
RemoteSystemsTempFiles/.project
Proquation/.settings/org.eclipse.wst.validation.prefs
Proquation/.classpath
Servers/
.recommenders/caches/manual-mappings.json
.recommenders/caches/identified-project-coordinates.json
