@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

body {
    display: block;
}

.button-panel {
    height: 100%;
    width: 40%;
    display: block;
    float: left;
}

.sandbox-result {
    display: block;
    width: 60%;
    height: 100%;
    float: right;
}

.sandbox-result .sandbox {
    height: 60%;
    width: 100%;
    border-bottom: 3px solid gray;
}

.sandbox-result .result {
    width: 100%;
    height: 40%;
    position: relative;
    top: 50px;
}

.sandbox-result .sandbox .dragButtons {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 50px;
}

.button-panel {
	position: relative;
	border-right: 3px solid gray;
}
.container {
	width: 100% !important;
	display: flex;
    flex-direction: column;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    margin: 0;
    align-items: center;
}
.btn {
	margin: 0 10px;
}
.button-row {
	margin: 10px 0;
	display: flex;
}

.button_heading{
	text-transform: uppercase;
	font-size: 20px;
	font-family: asap, sans-serif;
}

.result_content{
	position: relative;
	font-weight: 100;
	border: 3px solid #595959;
	border-radius: 4px;
	padding: 30px;
	height: 50px;
	width: 300px;
	box-sizing: border-box;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 20%;
}

    
.result_heading{
	text-transform: uppercase;
	font-size: 20px;
	font-family: asap, sans-serif;
	text-align: center;
}

	





